@import url("fonts/Merriweather/stylesheet.css");
@import url("fonts/Jacques/stylesheet.css");
body {
  margin: 0; /* убирает стандартные отступы браузера */
  padding: 20px; /* внутренний отступ от края окна */
  background-color: #000;
  background-image: url(img/Fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* фон не прокручивается */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
}

header {
  display: flex;
  background-color: #191919d2;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  border-radius: 10px;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
.button-nazad {
  height: 100%;
  color: white;
  background-color: #191919d2;
  border: 0.3px solid white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 80px;
  position: absolute;
  left: 60px;

  /* Центрирование содержимого */
  display: flex; /* Превращаем кнопку в flex‑контейнер */
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
  padding-bottom: 10px;
}

.button-nazad:hover {
  height: 100%;
  border: 0.3px solid white;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.411),
    rgba(140, 140, 140, 0.055)
  );
}

.menu {
  display: flex;
  gap: 70px; /* Расстояние между кнопками */
  font-size: 24px;
}

.menu-button {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.menu-button.active {
  color: white;
  font-weight: bold;
  border-radius: 100%;
  text-shadow: 0 0 10px rgb(255, 0, 200), 0 0 20px rgb(255, 0, 200),
    0 0 30px rgb(255, 0, 200), 0 0 40px rgb(255, 0, 200); /* Многослойное свечение */
}

.menu-button:hover {
  border: 0.3px solid white; /* Жирная белая окантовка */
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.411),
    /* Светлый верх */ rgba(140, 140, 140, 0.055) /* Тёмный низ */
  );
}

.contacts-button {
  font-size: 24px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.contacts-button:hover {
  border: 0.3px solid white; /* Жирная белая окантовка */
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.411),
    /* Светлый верх */ rgba(140, 140, 140, 0.055) /* Тёмный низ */
  );
}

.content {
  padding-left: 200px;
  padding-right: 200px;
}

.NEWVISION {
  padding-top: 2.5%;
  padding-bottom: 6%;
}

.design {
  display: block;
  margin-top: 100px;
  height: 100%;
  align-items: center; /* вертикальное выравнивание по центру */
  border: 0.3px solid white; /* Жирная белая окантовка */
  border-radius: 20px;
  /* Вертикальный градиент: светлый сверху → тёмный снизу */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.336),
    /* Светлый верх */ rgba(140, 140, 140, 0) /* Тёмный низ */
  );
  padding: 1%;
  color: #ffffff;
  position: relative;

  /* Размытие фона под элементом */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px); /* Для Safari */
  padding: 1%;
  color: #ffffff;
}
.name {
  position: absolute;
  top: -50px;
  font-size: 60px;
  margin-left: 30px;
  font-family: "Jacques Francois Shadow";
  color: #fff;
  text-shadow: 0 0 10px rgb(255, 0, 200), 0 0 20px rgb(255, 0, 200),
    0 0 30px rgb(255, 0, 200); /* Многослойное свечение */
}
.text {
  text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Тень текста */
  position: relative;
  font-size: 20px;
  margin: 30px;
}
.infa {
  display: flex;
  justify-content: center; /* Центрирует блоки по горизонтали */
  gap: 50px; /* Отступы между блоками */
  padding-top: 20px;
}

.box {
  text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Тень текста */
  margin-top: 3%;
  margin-bottom: 5%;
  flex: 1;
  border-radius: 30px;
  text-align: left;
  border: 2px solid white;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.336),
    /* Светлый верх */ rgba(140, 140, 140, 0) /* Тёмный низ */
  );
  padding: 1%;
  color: #ffffff;

  /* Размытие фона под элементом */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px); /* Для Safari */
}

.lu {
  padding-left: 10px;
}
.kyb {
  font-size: 20px;
  margin-bottom: 20px;
  list-style: none; /* убираем стандартные маркеры */
  background: url("img/444.svg") no-repeat left center;
  background-size: 20px 20px; /* задаём размер */
  padding-left: 30px; /* отступ от текста */
}

.header {
  display: flex;
  justify-content: space-between; /* распределяет элементы по краям */
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;
}

.namebox {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

.pricebox {
  font-weight: bold;
  font-size: 25px;
  margin-right: 20px;
  font-family: "Jacques Francois Shadow";
  color: #fff;
  text-shadow: 0 0 10px rgb(255, 0, 200), 0 0 20px rgb(255, 0, 200),
    0 0 30px rgb(255, 0, 200); /* Многослойное свечение */
}

.box1 {
  text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Тень текста */
  margin-top: 3%;
  margin-bottom: 5%;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  text-align: left;
  border: 2px solid white;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.336),
    /* Светлый верх */ rgba(140, 140, 140, 0) /* Тёмный низ */
  );
  padding: 1%;
  color: #ffffff;

  /* Размытие фона под элементом */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px); /* Для Safari */
}

.gallery-name {
  padding: 30px;
  font-size: 40px;
  font-family: "Jacques Francois Shadow";
  color: #fff;
  text-shadow: 0 0 10px rgb(255, 0, 200), 0 0 20px rgb(255, 0, 200),
    0 0 30px rgb(255, 0, 200); /* Многослойное свечение */
  text-align: center;
}
.photo {
  display: inline-block;
  text-align: center;
}
.ph {
  width: 400px;
  height: auto;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 40px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px rgb(255, 0, 200);
}
.footer {
  background-color: #191919d2;
  color: #ecf0f1;
  padding: 20px 20px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto 40px;
}
.footer-social {
  text-align: center;
}

.social-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  padding-top: 2%;
}

.btn-to-top {
  display: block;
  width: 140px;
  padding: 10px;
  margin: 0 auto;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s;
}

.btn-to-top:hover {
  background-color: #2980b9;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #34495e;
  font-size: 0.8em;
  color: #bdc3c7;
}

/* Адаптивность */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-menu ul {
    padding-left: 0;
  }

  .btn-to-top {
    width: 100%;
    max-width: 300px;
  }
}
